@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Kanit', sans-serif;
}

body {
  zoom: 90%
}

header {
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  top: 0px;
  background-color: rgb(32, 32, 31);
  position: relative;
}

.menu-bar {
  position: relative;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 35px;
  background-color: rgb(53, 53, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* .navbar-label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  height: 30px;
  padding: 2.5px;
  transition: background-color 0.4s ease-out;
} */

/* .navbar-label:hover {
  background-color: rgb(27, 26, 26);
} */

.button-navbar {
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  height: 35px;
  padding: 2.5px;
  transition: background-color 0.4s ease-out;
}

.button-navbar:hover {
  background-color: #1b1a1a;
}

/* ///////////////////DROPDOWN////////////////////// */

.button-dropdown {
  background-color: transparent;
  border: none;
  font-size: 13px;
  width: 115px;
}

.dropdown {
  flex-direction: row;
  position: relative;
  text-align: center;
  text-decoration: none;
  right: 1px;
  top: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 115px;
  background-color: #1b1a1a;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #94939317;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin: 0;
  text-align: center;
}

/* ///////////////////////DROPDOWN-END///////////////////// */

/* .logo-nav-bar img {
  position: absolute;
  top: 10px;
  left: 60px;
  align-self: flex-start;
  text-align: center;
  height: 60px;
  width: 145px;
  z-index: 2;
  border-radius: 10px;
} */


form {
  box-shadow: none;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin: auto;
}

.search-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.search-bar-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.search-bar {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.search-input {
  outline: none;
  height: 30px;
  border-width: 0;
  background-color: #30394c;
  border-radius: 10px 0px 0px 10px;
  color: white;
  position: relative;
  flex: 1 1 auto;
  width: 550px;
  min-width: 0;
  margin-bottom: 0;
  padding: 10px;
}


.search-button {
  margin-left: -1px;
  display: flex;
}

.button-submit {
  height: 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(53, 53, 58);
  padding-left: 10px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.button-submit img {
  padding-top: 0px;
  padding-left: -1px;
  padding-right: 7px;
  width: 25px;
  height: 25px;
  justify-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.button-submit:hover {
  background-color: rgb(27, 26, 26);
}

/* END OF REGION */

/* MAIN REGION */

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(0.25turn, #263241, #151D27);
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 30px 100px 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.featured-products {
  flex: 1;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.product-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 20px;
}

.art-infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.product-item {
  width: 295px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2e3742;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #00000062;
  align-items: center;
  color: whitesmoke;
}

.product-item img {
  width: 275px;
  height: 350px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.product-item6 {
  width: 295px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2e3742;
  border-radius: 20px;
  /* box-shadow: 0px 0px 5px #333; */
  align-items: center;
  color: whitesmoke;
}

.product-item6 img {
  width: 275px;
  height: 350px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-price {
  background-color: #384657;
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

.button-price:hover {
  background-color: whitesmoke;
  color: #384657;
}


/* .button-price:hover::after{
  content: "macas";
} */


.price {
  font-weight: 600;
  font-size: 17px;
  color: whitesmoke;
}

.product-categories {
  flex-basis: 200px;
  margin-left: 20px;
}

.product-categories h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 3px #000000;
}

.hover-button {
  transition: ease-in-out 0.2s;
}

.hover-button:hover {
  cursor: pointer;
  content: "Acessar";
  background-color: #667485;
}

.button-categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-categories li {
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.art-name-label {
  font-size: 17px;
}

.title-page {
  display: block;
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
}

.product-categories a {
  color: #000;
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
}

/* END REGION */

.title-1 {
  align-items: center;
  text-align: center;
  flex-direction: row;
  display: block;
}

.trab {
  display: flex;
  align-items: center;
}




.perfil {
  height: 37px;
  width: 37px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.perfil img {
  width: 40px;
}

.logo-nav-bar{
  height: 37px;
  width: 37px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 25px;
  cursor: pointer;
}

.logo-nav-bar img{
  width: 70px;
  border-radius: 10px;
}

.cadastro{
  background-color: #444444;
  margin: 0 auto;
  width: 500px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.cadastro-nome {
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.input11 strong{
  color: white;
}

.input11{
  text-align: center;
  display: block;
  margin: 0 auto;
}

.input11 input{
  outline: none;
  border: 5px black;
  border-radius: 2px;
  width: 300px;
}

.input11 ::placeholder{
  margin-left: 10px;
}

.button-cadastro{
  text-align: center;
  display: block;
  margin: 0 auto;
}

.button-cadastro button{
  background: whitesmoke;
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
}

.button-cadastro button:hover{
  background-color: #552929;
  color: white;
}

.simsimsim{
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.simsimsim img{
  width: 130px;
}